
  <mat-card class="card-home mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Confirgurações do sistema</mat-card-title>
    </mat-card-header>
    <div class="row">
    <div routerLink="../tecnicos" class="card green">
        <i class="material-icons">account_circle</i>
        <h2>Tecnicos</h2>
    </div>
        <div routerLink="../clientes" class="card green">
            <i class="material-icons">supervised_user_circle</i>
            <h2>Clientes</h2>
        </div>
</div>

</mat-card>
