
  <mat-card class="card-home mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Serviços de TI</mat-card-title>
      <mat-card-subtitle>Bem-vindo ao Sistema de registro de chamados de TI</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
      
      </p>
    </mat-card-content>
  <div class="row">
    <div routerLink="../chamados/create" class="card green">
        <h2> <i class="material-icons">add_box</i> Novo chamado</h2>
    </div>

    <!--div class="card red">
      <h2> <i class="material-icons">report_problem</i>   Reportar incidente</h2>
    </-div -->
</div>

</mat-card>
