<mat-drawer-container class="container" autosize>
 
   <div class="menu">

      <div class="logo-nav">
         <img  src="assets/img/logo.png" alt="Cadastro de cliente">
         <span class="logo-text">Serviços de TI</span>  
      </div>
      
      <a mat-button routerLink="home">
            <i class="material-icons">home</i>
            
         </a>
         <a mat-button routerLink="tecnicos">
            <i class="material-icons">account_circle</i>
            Técnicos
         </a>
         <a mat-button routerLink="clientes">
            <i class="material-icons">person</i>
            Clientes
         </a>
         <a mat-button routerLink="chamados">
            <i class="material-icons">support</i>
            Chamados
         </a>
         <a mat-button routerLink="configuracoes" >
            <i class="material-icons">settings</i>
            
         </a> 
         <a mat-button (click)="logout()">
         <i class="material-icons">logout</i>
         Sair
         </a>
     
   </div> 

   <router-outlet></router-outlet>
 
   
 
 </mat-drawer-container>