<mat-drawer-container class="container" autosize>
      <div class="navbar">
         <div class="logo-nav">
            <img  src="assets/img/logo.png" alt="Cadastro de cliente">
            <span class="logo-text">Serviços de TI</span>  
         </div>
         <a routerLink="home">
            <i class="material-icons">home</i>
         </a>
         <div class="dropdown">
           <button class="dropbtn">Processos 
             <i class="fa fa-caret-down"></i>
           </button>
           <div class="dropdown-content">
             <a href="#">Catálogo serviço</a>
             <a href="#">Nível de serviço</a>
             <a routerLink="chamados">Requisição de serviço</a>
             <a href="#">Incidente</a>
           </div>
         </div> 
         
         <div class="navbar-right">
            <a  routerLink="configuracoes"> <i class="material-icons">settings</i></a>
               <a (click)="logout()"> <i class="material-icons">logout</i></a>
         </div>
       </div>
   <router-outlet></router-outlet>
 </mat-drawer-container>

<!--

<mat-drawer-container class="container" autosize>
 
   <div class="menu">

      <div class="logo-nav">
         <img  src="assets/img/logo.png" alt="Cadastro de cliente">
         <span class="logo-text">Serviços de TI</span>  
      </div>
      
      <a mat-button routerLink="home">
            <i class="material-icons">home</i>
         </a>
         
         <nav mat-button class="dp-menu">
            <ul mat-button>
              
               <li><a href="#">Processos</a>
                  <ul>
                        <li><a href="#">Gerenciamento de serviços</a></li>
                        <li><a href="#">Gerenciamento de nível de serviço</a></li>
                        <li><a href="#">Gerenciamento de requisição</a></li>
                        <li><a href="#">Gerenciamento de incidente</a></li>
                  </ul>
               </li>

            </ul>
         </nav>

         <a mat-button routerLink="tecnicos">
            <i class="material-icons">account_circle</i>
            Técnicos
         </a>
         <a mat-button routerLink="clientes">
            <i class="material-icons">person</i>
            Clientes
         </a>
         <a mat-button routerLink="chamados">
            <i class="material-icons">support</i>
            Chamados
         </a>
         <a mat-button routerLink="configuracoes" >
            <i class="material-icons">settings</i>
            
         </a> 
         <a mat-button (click)="logout()">
         <i class="material-icons">logout</i>
         Sair
         </a>
     
   </div> 

   <router-outlet></router-outlet>
 
   
 
 </mat-drawer-container>

-->